
<section class="pane">
  <div class="card">
    <h2>{{document.name}}</h2>
    <div class="grid grid-3">
      <label>Reducción de daño <input type="number" name="system.ac" value="{{system.ac}}"/></label>
      <label>Notas <input type="text" name="system.notes" value="{{system.notes}}"/></label>
    </div>
    <textarea name="system.description">{{system.description}}</textarea>
  </div>
</section>
